# Top 10 Airports

Using `bookings` file.

* Arrival Airport is the column **arr_port**. It is the IATA code for the airport.
* Total number of passengers
* Print top 10 arrival airports in the standard output, including the number of passengers.

## Loading the file

In [3]:
import pandas as pd

In [14]:
file_path = "/home/miki/Documents/data/challenge/bookings.csv.bz2"
df_bookings = pd.read_csv(
    file_path,
    compression = 'bz2',
    delimiter= '^',
    nrows = 1e5
)
df_bookings.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

## Basic exploration

In [15]:
df_bookings.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [16]:
df_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 38 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   act_date             100000 non-null  object
 1   source               100000 non-null  object
 2   pos_ctry             100000 non-null  object
 3   pos_iata             100000 non-null  object
 4   pos_oid              100000 non-null  object
 5   rloc                 100000 non-null  object
 6   cre_date             100000 non-null  object
 7   duration             100000 non-null  int64
 8   distance             100000 non-null  int64
 9   dep_port             100000 non-null  object
 10  dep_city             100000 non-null  object
 11  dep_ctry             100000 non-null  object
 12  arr_port             100000 non-null  object
 13  arr_city             100000 non-null  object
 14  arr_ctry             100000 non-null  object
 15  lst_port             100000 non-null  object
 16  lst_city             100000 non-null  object
 17  lst_ctry             100000 non-null  object
 18  brd_port             100000 non-null  object
 19  brd_city             100000 non-null  object
 20  brd_ctry             100000 non-null  object
 21  off_port             100000 non-null  object
 22  off_city             100000 non-null  object
 23  off_ctry             100000 non-null  object
 24  mkt_port             100000 non-null  object
 25  mkt_city             100000 non-null  object
 26  mkt_ctry             100000 non-null  object
 27  intl                 100000 non-null  int64
 28  route                100000 non-null  object
 29  carrier              100000 non-null  object
 30  bkg_class            100000 non-null  object
 31  cab_class            100000 non-null  object
 32  brd_time             100000 non-null  object
 33  off_time             100000 non-null  object
 34  pax                  100000 non-null  int64
 35  year                 100000 non-null  int64
 36  month                100000 non-null  int64
 37  oid                  100000 non-null  object
dtypes: int64(6), object(32)
memory usage: 29.0+ MB

In [18]:
# Cleanup column names
df_bookings.columns = df_bookings.columns.str.strip()

In [ ]:
df_bookings.